body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

   .container{
            max-width: 800px;
            margin: 0 auto;
            color: #121111;;
            font-family: sanserif;
            padding-top: 60px;
            padding-left: 20pc;
            padding-right: 20px;
    }
 
    body {
    background-image: url("https://scontent.fpnq1-1.fna.fbcdn.net/v/t1.0-9/16708516_722962471196518_341053957706971691_n.jpg?oh=0b7cdbad950ec61a6da88b874400281a&oe=5A166A4F");
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-right: 668 x 457;
}    